<a href="/" id="logo_link" title ="Bike Sales Nepal"><div class= "logo">

     <!--       <div class= "span3">
            	
            	<div id= "z">
            		<div class = "a"></div>
            		<div class = "b">
            			<div class = "c">
            				BIKES BECHNU
            			</div>

            		</div>	
            	</div>
              
            </div>
            
            <div class= "span9">
             
            </div>
      -->
      <%= image_tag "logo.png", id:"image_logo", size: "200x130" %>
      BIKES.BECHNU.com
          </div>
</a>