
<div class = "results">
 
<table >
  <thead>
    <tr>
      
      
      <table class= "new_bike_make_table">
      
      	<tr>
      		<td><ul>
      			<li>Hero Honda</li>
      		<li>Bajaj</li>
      		<li>TVS</li>
      		</ul></td>
      		<td><ul>
      		<li>Yamaha</li>
      		<li>Suzuki</li>
      		<li>Honda</li>
      		</ul></td>

      		

      	</tr>	
      	
      </table>
     
     
  
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>


</div><!--div results -->
