
<div class = "results_main_page">

 
<table class="table">
  <thead>
    <tr>
      <th>Sponsored links</th>
      
      
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
</div><!--div results -->
