
<div class= "span12">
  <div class= "logo">
    <div class= "span3">
      Our Company Logo
    </div>
    <div class= "span9">
      Space for advertisement

      ---This is span 9 so a lot of space
    </div>
  </div>
</div>


<div class= "span12">
  <div class= "span6">
    <div class = "main_page">
    <%=render "main_search_tool"%>
    </div>
  </div>
  <div id= "new_bike"class= "span3">
    <%=render "new_bike"%>    
  </div>
  <div  id = "sponsored_links" class= "span3">
    <%=render "sponsored_links"%>    
  </div>

</div>



<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
