body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  //padding: 2px;
  //background-color: red;
  color: red;
  display: table;
}

#error_explanation {
  width: 90%;
  border: 2px solid rgb(164, 173, 164);
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 15px 15px 10px #888888;
  h2 {
    color: black;
    background-color: white;
    text-align: left;
    border-bottom: 4px solid #006dbc;
    margin-bottom: 15px;
    font-size: 12px;
    padding: 0px;
    padding-left: 15px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
